# Keep a release's "Source code" downloads to what is needed to install:
# docker-compose.yml, README.md, LICENSE and CHANGELOG.md.
/.github/**      export-ignore
/screenshots/**  export-ignore
/videos/**       export-ignore
/releases/**     export-ignore
/.gitattributes  export-ignore
/.gitignore      export-ignore

*.gif binary
*.png binary
*.webp binary
